<div class="w-96 h-96 relative">
    <div class="w-80 h-96 left-[740px] top-0 absolute">
      <div class="w-80 h-96 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-10"></div>
      <div class="w-80 h-96 left-[16px] top-[56px] absolute">
        <div class="w-80 h-44 left-0 top-[192px] absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-10"></div>
        <div class="w-80 h-44 left-0 top-[576px] absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-10"></div>
          <div class="left-[81px] top-[81px] absolute text-zinc-900 text-opacity-50 text-base font-semibold font-['Exo 2'] leading-none">Drag your task here...</div>
        </div>
        <div class="w-80 h-44 left-0 top-[384px] absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-16 h-7 left-[214px] top-0 absolute">
              <div class="w-7 h-7 left-0 top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute">
                  <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full"></div>
                  <img class="w-7 h-10 left-[-0px] top-[-8px] absolute" src="https://via.placeholder.com/30x42" />
                </div>
                <div class="w-7 h-7 left-0 top-0 absolute rounded-full border-2 border-white"></div>
              </div>
              <div class="w-7 h-7 left-[18px] top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute">
                  <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full"></div>
                  <img class="w-12 h-8 left-[-10px] top-[-1px] absolute" src="https://via.placeholder.com/50x32" />
                </div>
                <div class="w-7 h-7 left-0 top-0 absolute rounded-full border-2 border-white"></div>
              </div>
              <div class="w-7 h-7 left-[36px] top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full border-2 border-zinc-900 border-opacity-10"></div>
                <div class="left-[8px] top-[9px] absolute text-zinc-900 text-xs font-bold font-['Exo 2'] leading-3">+2</div>
              </div>
            </div>
            <div class="w-24 h-7 px-4 py-2 left-0 top-0 absolute bg-slate-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-slate-400 text-sm font-semibold font-['Exo 2'] leading-none">8 Jan 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-72 h-1 left-0 top-0 absolute bg-lime-500 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[243px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">10/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-[-0px] absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-40 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Twitter marketing</div>
              <div class="left-0 top-0 absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Make twitter banner</div>
            </div>
          </div>
        </div>
        <div class="w-80 h-44 left-0 top-[192px] absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-20 h-4 left-[204px] top-[6px] absolute">
              <div class="w-7 h-4 left-[46px] top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">3</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
              <div class="w-8 h-4 left-0 top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">17</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
            <div class="w-24 h-7 px-4 py-2 left-0 top-0 absolute bg-slate-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-slate-400 text-sm font-semibold font-['Exo 2'] leading-none">7 Jan 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-72 h-1 left-0 top-0 absolute bg-lime-500 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[243px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">10/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-[-0px] absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-52 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Kickstarter campaign</div>
              <div class="left-0 top-0 absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Launch product promotion</div>
            </div>
          </div>
        </div>
        <div class="w-80 h-44 left-0 top-0 absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-16 h-4 left-[210px] top-[6px] absolute">
              <div class="w-7 h-4 left-[40px] top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">5</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
              <div class="w-7 h-4 left-0 top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">1</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
            <div class="w-24 h-7 px-4 py-2 left-0 top-0 absolute bg-slate-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-slate-400 text-sm font-semibold font-['Exo 2'] leading-none">6 Jan 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-72 h-1 left-0 top-0 absolute bg-lime-500 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[243px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">10/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-[-0px] absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-48 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Ui8 marketplace</div>
              <div class="left-0 top-[-0px] absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Add product to the market</div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-80 h-4 left-[16px] top-[22px] absolute">
        <div class="w-28 h-4 left-[209px] top-0 absolute">
          <div class="left-[24px] top-[2px] absolute text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">Add new task</div>
          <div class="w-4 h-4 left-0 top-0 absolute">
            <div class="w-4 h-4 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-full"></div>
            <div class="opacity-40 w-1.5 h-1.5 left-[6px] top-[6px] absolute">
            </div>
          </div>
        </div>
        <div class="left-0 top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Done (3)</div>
      </div>
    </div>
    <div class="w-80 h-96 left-[374px] top-0 absolute">
      <div class="w-80 h-96 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-10"></div>
      <div class="w-80 h-96 left-[16px] top-[56px] absolute">
        <div class="w-80 h-44 left-0 top-[576px] absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-20 h-4 left-[196px] top-[6px] absolute">
              <div class="w-9 h-4 left-[49px] top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">12</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
              <div class="w-9 h-4 left-0 top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">23</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
            <div class="w-28 h-7 px-4 py-2 left-0 top-0 absolute bg-orange-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-orange-400 text-sm font-semibold font-['Exo 2'] leading-none">15 Nov 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-20 h-1 left-0 top-0 absolute bg-red-400 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[250px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">3/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-44 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Crypto mobile app </div>
              <div class="left-0 top-0 absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Create ui kit for layout</div>
            </div>
          </div>
        </div>
        <div class="w-80 h-44 left-0 top-[384px] absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-16 h-7 left-[214px] top-0 absolute">
              <div class="w-7 h-7 left-0 top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute">
                  <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full"></div>
                  <img class="w-7 h-10 left-[-0px] top-[-8px] absolute" src="https://via.placeholder.com/30x42" />
                </div>
                <div class="w-7 h-7 left-0 top-0 absolute rounded-full border-2 border-white"></div>
              </div>
              <div class="w-7 h-7 left-[18px] top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute">
                  <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full"></div>
                  <img class="w-12 h-8 left-[-10px] top-[-1px] absolute" src="https://via.placeholder.com/50x32" />
                </div>
                <div class="w-7 h-7 left-0 top-0 absolute rounded-full border-2 border-white"></div>
              </div>
              <div class="w-7 h-7 left-[36px] top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full border-2 border-zinc-900 border-opacity-10"></div>
                <div class="left-[8px] top-[9px] absolute text-zinc-900 text-xs font-bold font-['Exo 2'] leading-3">+2</div>
              </div>
            </div>
            <div class="w-28 h-7 px-4 py-2 left-0 top-0 absolute bg-red-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-red-400 text-sm font-semibold font-['Exo 2'] leading-none">14 Nov 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-28 h-1 left-0 top-0 absolute bg-red-400 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[249px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">4/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-52 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Oreo ios app project</div>
              <div class="left-0 top-0 absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Create wireframe for ios app</div>
            </div>
          </div>
        </div>
        <div class="w-80 h-44 left-0 top-[192px] absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-20 h-4 left-[203px] top-[6px] absolute">
              <div class="w-9 h-4 left-[42px] top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">13</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
              <div class="w-7 h-4 left-0 top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">2</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
            <div class="w-28 h-7 px-4 py-2 left-0 top-0 absolute bg-slate-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-slate-400 text-sm font-semibold font-['Exo 2'] leading-none">13 Nov 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-48 h-1 left-0 top-0 absolute bg-orange-400 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[250px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">7/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-[-0px] absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-44 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Oreo branding project</div>
              <div class="left-0 top-0 absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Create brand guideline</div>
            </div>
          </div>
        </div>
        <div class="w-80 h-44 left-0 top-0 absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-16 h-7 left-[214px] top-0 absolute">
              <div class="w-7 h-7 left-0 top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute">
                  <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full"></div>
                  <img class="w-7 h-10 left-[-0px] top-[-8px] absolute" src="https://via.placeholder.com/30x42" />
                </div>
                <div class="w-7 h-7 left-0 top-0 absolute rounded-full border-2 border-white"></div>
              </div>
              <div class="w-7 h-7 left-[18px] top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute">
                  <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full"></div>
                  <img class="w-12 h-8 left-[-10px] top-[-1px] absolute" src="https://via.placeholder.com/50x32" />
                </div>
                <div class="w-7 h-7 left-0 top-0 absolute rounded-full border-2 border-white"></div>
              </div>
              <div class="w-7 h-7 left-[36px] top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full border-2 border-zinc-900 border-opacity-10"></div>
                <div class="left-[8px] top-[9px] absolute text-zinc-900 text-xs font-bold font-['Exo 2'] leading-3">+2</div>
              </div>
            </div>
            <div class="w-28 h-7 px-4 py-2 left-0 top-0 absolute bg-red-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-red-400 text-sm font-semibold font-['Exo 2'] leading-none">12 Nov 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-20 h-1 left-0 top-0 absolute bg-orange-400 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[250px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">3/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-[-0px] absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-40 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Oreo website project</div>
              <div class="left-0 top-[-0px] absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Design system update</div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-80 h-4 left-[16px] top-[22px] absolute">
        <div class="w-28 h-4 left-[209px] top-0 absolute">
          <div class="left-[24px] top-[2px] absolute text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">Add new task</div>
          <div class="w-4 h-4 left-0 top-0 absolute">
            <div class="w-4 h-4 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-full"></div>
            <div class="opacity-40 w-1.5 h-1.5 left-[6px] top-[6px] absolute">
            </div>
          </div>
        </div>
        <div class="left-0 top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">In progress (4)</div>
      </div>
    </div>
    <div class="w-80 h-96 left-0 top-0 absolute">
      <div class="w-80 h-96 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-10"></div>
      <div class="w-80 h-96 left-[16px] top-[56px] absolute">
        <div class="w-80 h-44 left-0 top-[576px] absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-16 h-7 left-[214px] top-0 absolute">
              <div class="w-7 h-7 left-0 top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute">
                  <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full"></div>
                  <img class="w-7 h-10 left-[-0px] top-[-8px] absolute" src="https://via.placeholder.com/30x42" />
                </div>
                <div class="w-7 h-7 left-0 top-0 absolute rounded-full border-2 border-white"></div>
              </div>
              <div class="w-7 h-7 left-[18px] top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute">
                  <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full"></div>
                  <img class="w-12 h-8 left-[-10px] top-[-1px] absolute" src="https://via.placeholder.com/50x32" />
                </div>
                <div class="w-7 h-7 left-0 top-0 absolute rounded-full border-2 border-white"></div>
              </div>
              <div class="w-7 h-7 left-[36px] top-0 absolute">
                <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded-full border-2 border-zinc-900 border-opacity-10"></div>
                <div class="left-[8px] top-[9px] absolute text-zinc-900 text-xs font-bold font-['Exo 2'] leading-3">+2</div>
              </div>
            </div>
            <div class="w-28 h-7 px-4 py-2 left-0 top-0 absolute bg-slate-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-slate-400 text-sm font-semibold font-['Exo 2'] leading-none">27 Aug 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-14 h-1 left-0 top-0 absolute bg-red-400 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[249px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">2/14</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-52 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Twitter marketing</div>
              <div class="left-0 top-0 absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Create a tweet and promote</div>
            </div>
          </div>
        </div>
        <div class="w-80 h-44 left-0 top-[384px] absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-20 h-4 left-[207px] top-[6px] absolute">
              <div class="w-8 h-4 left-[42px] top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">4</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
              <div class="w-7 h-4 left-0 top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">6</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
            <div class="w-28 h-7 px-4 py-2 left-0 top-0 absolute bg-orange-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-orange-400 text-sm font-semibold font-['Exo 2'] leading-none">26 Aug 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-20 h-1 left-0 top-0 absolute bg-red-400 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[250px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">3/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-52 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Dropbox mobile app</div>
              <div class="left-0 top-0 absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Design few mobile screens</div>
            </div>
          </div>
        </div>
        <div class="w-80 h-44 left-0 top-0 absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-16 h-4 left-[209px] top-[6px] absolute">
              <div class="w-7 h-4 left-[41px] top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">2</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
              <div class="w-7 h-4 left-0 top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">7</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
            <div class="w-28 h-7 px-4 py-2 left-0 top-0 absolute bg-slate-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-slate-400 text-sm font-semibold font-['Exo 2'] leading-none">24 Aug 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-48 h-1 left-0 top-0 absolute bg-orange-400 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[250px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">7/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-[-0px] absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-52 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Dribbble marketing</div>
              <div class="left-0 top-[-0px] absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Design new ui presentation</div>
            </div>
          </div>
        </div>
        <div class="w-80 h-44 left-[1px] top-[193px] absolute">
          <div class="w-80 h-44 left-0 top-0 absolute bg-white rounded-xl border-2 border-zinc-900 border-opacity-5"></div>
          <div class="w-72 h-7 left-[20px] top-[128px] absolute">
            <div class="w-16 h-4 left-[209px] top-[6px] absolute">
              <div class="w-7 h-4 left-[41px] top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">2</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
              <div class="w-7 h-4 left-0 top-0 absolute">
                <div class="left-[22px] top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Baloo 2'] leading-none">7</div>
                <div class="w-4 h-4 left-0 top-0 absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
            <div class="w-28 h-7 px-4 py-2 left-0 top-0 absolute bg-slate-400 bg-opacity-10 rounded-2xl justify-start items-start gap-2.5 inline-flex">
              <div class="text-slate-400 text-sm font-semibold font-['Exo 2'] leading-none">24 Aug 2022</div>
            </div>
          </div>
          <div class="w-72 h-7 left-[20px] top-[78px] absolute">
            <div class="w-72 h-1 left-0 top-[26px] absolute">
              <div class="w-72 h-1 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-sm"></div>
              <div class="w-48 h-1 left-0 top-0 absolute bg-orange-400 rounded-sm"></div>
            </div>
            <div class="w-72 h-4 left-0 top-0 absolute">
              <div class="left-[250px] top-[1px] absolute text-right text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">7/10</div>
              <div class="w-20 h-4 left-0 top-0 absolute">
                <div class="left-[20px] top-[1px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">Progress</div>
                <div class="w-4 h-4 left-0 top-[-0px] absolute opacity-50 flex-col justify-start items-start inline-flex"></div>
              </div>
            </div>
          </div>
          <div class="w-72 h-9 left-[20px] top-[20px] absolute">
            <div class="w-6 h-6 left-[254px] top-0 absolute">
              <div class="w-6 h-6 left-0 top-0 absolute bg-white rounded-2xl border-2 border-zinc-900 border-opacity-10"></div>
              <div class="w-2.5 h-0.5 left-[8px] top-[12px] absolute">
                <div class="w-0.5 h-0.5 left-[8px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-[4px] top-0 absolute bg-zinc-900 rounded-full"></div>
                <div class="w-0.5 h-0.5 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-52 h-9 left-0 top-0 absolute">
              <div class="left-0 top-[22px] absolute text-zinc-900 text-opacity-50 text-sm font-medium font-['Exo 2'] leading-none">Dribbble marketing</div>
              <div class="left-0 top-[-0px] absolute text-zinc-900 text-base font-bold font-['Exo 2'] leading-none">Design new ui presentation</div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-80 h-4 left-[16px] top-[22px] absolute">
        <div class="w-28 h-4 left-[209px] top-0 absolute">
          <div class="left-[24px] top-[2px] absolute text-zinc-900 text-sm font-semibold font-['Exo 2'] leading-none">Add new task</div>
          <div class="w-4 h-4 left-0 top-0 absolute">
            <div class="w-4 h-4 left-0 top-0 absolute bg-zinc-900 bg-opacity-10 rounded-full"></div>
            <div class="opacity-40 w-1.5 h-1.5 left-[6px] top-[6px] absolute">
            </div>
          </div>
        </div>
        <div class="left-0 top-[2px] absolute text-zinc-900 text-opacity-50 text-sm font-semibold font-['Exo 2'] leading-none">To do (4)</div>
      </div>
    </div>
  </div>