<div class="w-80 h-24 relative">
    <div class="w-80 h-9 left-[32px] top-[29px] absolute">
        <div class="left-0 top-[8px] absolute text-zinc-900 text-xl font-bold font-['Exo 2'] leading-tight">Welcome back, Kylian 👋</div>
        <div class="w-64 h-9 left-[823px] top-0 absolute">
            <div class="w-9 h-9 right-5 top-0 absolute">
                <div class="w-9 h-9 left-0 top-0 absolute bg-white rounded-full"></div>
                <img class="w-20 h-12 left-[-21px] top-[-8px] absolute" src="assets/profile-pic.png" />
            </div>
            <div class="w-32 h-5 top-[7px] absolute">
                <div class="left-[30px] top-[3px] absolute text-zinc-900 text-opacity-50 text-base font-semibold font-['Exo 2'] leading-none"><img src="assets/icons/calendar.svg" />19 May 2022</div>
                <div class="w-5 h-5 px-0.5 py-0.5 left-0 top-0 absolute justify-center items-center inline-flex">
                </div>
            </div>
            <div class="w-5 h-5 left-[44px] top-[7px] absolute">
                <div class="w-5 h-5 left-0 top-0 absolute"></div>
                <div class="w-1.5 h-1.5 left-[14px] top-[2px] absolute bg-orange-400 rounded-full border border-white"></div>
            </div>
            <div class="w-5 h-5 left-0 top-[7px] absolute flex-col justify-start items-start inline-flex"></div>
        </div>
    </div>
  </div>