<div class="flex h-screen relative">
    <!-- Side Content -->
    <div class="w-80 fixed inset-y-0">
      <app-projects-side-content></app-projects-side-content>
    </div>
  
    <!-- Main Content Area -->
    <div class="flex-1 flex flex-col ml-80">
  
      <!-- Header -->
      <div class="h-24">
        <app-projects-header></app-projects-header>
      </div>
  
      <!-- Content -->
      <div class="flex-1">
        <app-projects-content></app-projects-content>
      </div>
  
    </div>
</div>
  